<%= render "shared/header" %>
<% @users.each do |user| %>
    <div class="user-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <img src="<%= user.photo %>" alt="user photo">
      <div>
        <h2>Name: <%= user.name %></h2>
        <h4>Number of posts: <%= user.post_counter %></h4>
        <%= link_to "View profile", user_path(user) %>
      </div>
    </div>
<% end %>
<%= render "shared/footer" %>
