<%= render "shared/header" %>
<img src="<%= @user.photo %>" alt="user photo">
<h2>Name: <%= @user.name %></h2>
<h4>Number of posts: <%= @user.post_counter %></h4>
<h2>Bio</h2>
<p><%= @user.bio %></p>

<% @posts.each do |post| %>
  <div>
    <h2><%= post.title %></h2>
    <p><%= post.text %></p>
    <div>
      <span>Comments: <%= post.comments_counter %></span>
      <span>Likes: <%= post.likes_counter %></span>
    </div>
  </div>
<% end %>

<button type="button">
  <%= link_to "See all posts", user_posts_path(@user) %>
</button>

<%= render "shared/footer" %>
