<%= render "shared/header" %>
  <div class="single-post">
    <h2><%= @post.title %></h2>
    <div>
      <span>Comments: <%= @post.comments_counter %></span>
      <span>Likes: <%= @post.likes_counter %></span>
    </div>
    <p><%= @post.text %></p>
    <%= form_with(model: @like, url: post_likes_path(@post), method: :post) do |form| %>
    <%= form.hidden_field :users_id, value: @user.id %>
    <%= form.hidden_field :posts_id, value: @post.id %>
    <%= form.submit "Like" %>
  <% end %>
 </div>
  </div>

  <%= form_with(model: @comment, url: post_comments_path(@post), method: :post) do |form| %>
    <h2>Add a comment</h2>
    <%= form.label :text %>
    <%= form.text_area :text %><br>

    <%= form.submit "Add Comment" %><br>
  <% end %>
 </div>
    
  <h1 class="comments-header">All comments</h1>
  <div class="post-comments">
  <% @post.comments.each do |comment| %>
      <h4>Username: <%= comment.user.name %> - <span> <%= comment.text %> </span> </h4>
  <% end %>
  </div>
<%= render "shared/footer" %>
